<app-toolbar></app-toolbar>
<div class="basic-container">
	<mat-card>
		<mat-form-field>
			<input type="text" placeholder="Pick a Branch" aria-label="Pick a Branch" matInput [formControl]="branchCtrl" [matAutocomplete]="auto">
			<mat-autocomplete #auto="matAutocomplete" (optionSelected)="getBranch($event.option.value)" name="Branch" [displayWith]="displayFn">
				<mat-option *ngFor="let branch of filteredBranches | async;" [value]="branch">
					 {{ branch.name }}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>
		<!-- <app-select-branch></app-select-branch> -->

		<i style="color:#999;">Set Your default Branch: {{branchName}} {{branchId}}</i>
		<br><br><br>
		<button mat-raised-button color="primary" routerLink="/dispatch">Dispatch</button>
		<button mat-button (click)="onClear()">Clear</button>

		
	</mat-card>
</div>
