agm-map {
    height: 375px;
    width: 100%;
}

/*.toggle-list-route {
   position: absolute;
    z-index: 9;
    top: 17rem;
    right: 4rem;
}
*/

.map-button-container {
    padding: 0 50px 0 0;
    top: -15px;
    position: relative;
    background: #fff;
    text-align: right;
}
.map-button-container button {
    top: -20px;
    position: relative;
    margin-right: 15px;    
}


p, li {
    text-align: left;
    padding: .9rem 1.2rem;
    vertical-align: top;
    border-top: 0;
    color: rgba(0, 0, 0, 0.87);
    transition: width 0.3s ease;
    font-size: 14px;
    font-weight: 400;
}

.mat-sidenav {
    width:400px;
}

.button-row {margin-top: 25px;}


