<mat-sidenav-container class="example-container">
	<mat-sidenav #sidenav position="end">
		<button mat-button (click)="sidenav.close()">Toggle</button>

		<mat-list role="list" *ngFor='let col of allColumns'>
		  <mat-list-item role="listitem">
				<mat-checkbox [id]="col.name" (change)='togglecol(col)' [checked]='isChecked(col)'> <p>{{col.name}}</p> </mat-checkbox>
		  </mat-list-item>
		</mat-list>

	</mat-sidenav>

	<mat-sidenav-content>

		<app-toolbar></app-toolbar>

		<div *ngIf="branchName == null;then content else other_content"></div>

		<ng-template #content>
			<mat-card>
				<button mat-raised-button color="accent" routerLink="/settings"><span>Please go back to settings to select a Branch!</span></button>
				<!-- <app-select-branch></app-select-branch> -->
			</mat-card>
		</ng-template>

		<ng-template #other_content>
			<!-- <mat-card>
				<strong><mat-icon color="accent">flag</mat-icon> {{ branchName }}</strong> <a style="font-size: 12px;" routerLink="/settings">Change</a>
			</mat-card> -->

			<mat-horizontal-stepper [linear]="isLinear" #stepper [selectedIndex]="this.selectedIndex" (selectionChange)="selectionChange($event)">
				<mat-step [stepControl]="firstFormGroup">
					<ng-template matStepLabel>Select Stocks &amp; Route</ng-template>

					<form>

						<agm-map [style.display]="isDivVisible ? 'none' : 'block'" [latitude]="branchLat" [longitude]="branchLng" [zoom]=9 [disableDefaultUI]=false [zoomControl]="true" [styles]="styles">
							<agm-marker *ngFor="let stock of allStocks; let i = index" [latitude]="stock.lat" [longitude]="stock.lng" (markerClick)="selMarkerOn(i);" [iconUrl]="'../assets/pin-unselected.svg'"></agm-marker>
							<agm-marker *ngFor="let stock of selected; let i = index" [latitude]="stock.lat" [longitude]="stock.lng" [label]="!toggle ? ' ' : {color: '#fff',fontSize: '10px',text: ((i + 1)).toString()}" (markerClick)="selMarkerOff(i);" [iconUrl]="!toggle ? '../assets/pin-selected.svg' : '../assets/pin-selected-route.svg'"></agm-marker>
							<agm-marker [latitude]="branchLat" [longitude]="branchLng" [iconUrl]="'../assets/branch.svg'"></agm-marker>
							<agm-circle [latitude]="branchLat" [longitude]="branchLng" [radius]="50000" [fillColor]="'red'" [circleDraggable]="false" [editable]="false"></agm-circle>
						</agm-map>


						<div class="branch-name">{{ branchName }}
							<div class="map-button-container">
								<button  (click)="sidenav.open()" mat-icon-button mat-raised-button color="primary">
									<mat-icon aria-label="filter stocks">filter_list</mat-icon>
								</button>
								<button (click)="toggleMap()" mat-icon-button mat-raised-button color="primary">
									<mat-icon aria-label="select and route stocks">{{buttonName}}</mat-icon>
								</button>
							</div>
						</div>

						<div [ngClass]="{'toggle-map': toggle, '': !toggle}">
							<ngx-datatable class="material" [headerHeight]="50" [columnMode]="'force'" [rowHeight]="'auto'" [footerHeight]="50" [count]="true" [rows]="rows" [limit]="5" [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>
									<ngx-datatable-column [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
										<ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
											<mat-checkbox [checked]="allRowsSelectedMod" (change)="selectFnMod(!allRowsSelectedMod)"></mat-checkbox>
										</ng-template>
										<!-- <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
											<mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
										</ng-template> -->

										<ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
											<mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event);validateOnSelect(!isSelected);"></mat-checkbox>
										</ng-template>
									</ngx-datatable-column>

									<ngx-datatable-column name="Number">
										<ng-template ngx-datatable-cell-template let-value="value">{{value}}</ng-template>
									</ngx-datatable-column>


 									<ngx-datatable-column  prop="dueDate">
										<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
											<span (click)="sort()">Due Date</span>
										</ng-template>
										<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
											{{value | date: 'MM/dd/yyyy'}}
										</ng-template>
									</ngx-datatable-column>

									<!-- <ngx-datatable-column prop="due_date">
										<ng-template let-column="column" ngx-datatable-header-template>Due Date</ng-template>
										<ng-template let-value="value" ngx-datatable-cell-template>{{value | date: 'MM/dd/yyyy'}}</ng-template>
									</ngx-datatable-column>
									<ngx-datatable-column prop="loss_type">
										<ng-template let-column="column" ngx-datatable-header-template>Loss Type</ng-template>
										<ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
									</ngx-datatable-column>
									<ngx-datatable-column name="Status">
										<ng-template ngx-datatable-cell-template let-value="value">{{value}}</ng-template>
									</ngx-datatable-column>
									<ngx-datatable-column prop="pickup_location">
										<ng-template let-column="column" ngx-datatable-header-template>Pickup Location</ng-template>
										<ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
									</ngx-datatable-column>
									<ngx-datatable-column prop="zip_code">
										<ng-template let-column="column" ngx-datatable-header-template>Zip Code</ng-template>
										<ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
									</ngx-datatable-column>
									<ngx-datatable-column name="County">
										<ng-template ngx-datatable-cell-template let-value="value">{{value}}</ng-template>
									</ngx-datatable-column>
									<ngx-datatable-column name="City">
										<ng-template ngx-datatable-cell-template let-value="value">{{value}}</ng-template>
									</ngx-datatable-column>
									<ngx-datatable-column name="State">
										<ng-template ngx-datatable-cell-template let-value="value">{{value}}</ng-template>
									</ngx-datatable-column>
									<ngx-datatable-column prop="model_year">
										<ng-template let-column="column" ngx-datatable-header-template>Year</ng-template>
										<ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
									</ngx-datatable-column>
									<ngx-datatable-column prop="model_make">
										<ng-template let-column="column" ngx-datatable-header-template>Make</ng-template>
										<ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
									</ngx-datatable-column>
									<ngx-datatable-column prop="model_name">
										<ng-template let-column="column" ngx-datatable-header-template>Model</ng-template>
										<ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
									</ngx-datatable-column>
									<ngx-datatable-column name="Priority">
										<ng-template ngx-datatable-cell-template let-value="value">{{value}}</ng-template>
									</ngx-datatable-column>
									<ngx-datatable-column prop="salvage_provider">
										<ng-template let-column="column" ngx-datatable-header-template>Salvage Provider</ng-template>
										<ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
									</ngx-datatable-column> -->
									<ngx-datatable-column *ngFor="let col of columns"
									[name]="col.name">
									</ngx-datatable-column>
							</ngx-datatable>
						</div>

						<div [ngClass]="{'toggle-map': !toggle, '': toggle}">
		            <mat-card><p><strong>Start</strong> {{ branchAddress }}</p></mat-card>
		            <div class="stocks" [dragula]='"routed-stocks"' [dragulaModel]='selected'>
		                <mat-card *ngFor="let stock of selected">
		                  <a href="">{{stock.number}}</a> {{stock.storage_end}} {{stock.total_payment_amount}} {{stock.total_hauling_amount}} {{stock.payment_type}} {{stock.checks_payable_to}} {{stock.dispatch_note}} {{stock.destination}} {{stock.tow_zone}} {{stock.mileage}} {{stock.tow_type}}
		                </mat-card>
		                <mat-card *ngIf="!selected?.length">No Selections</mat-card>
		            </div>
		            <mat-card><p><strong>Finish</strong> {{ branchAddress }}</p></mat-card>
		        </div>
						<div class="button-row">
							<button mat-raised-button color="primary" matStepperNext>Next</button>
						</div>

					</form>
				</mat-step>

				<mat-step [stepControl]="secondFormGroup">
					<form [formGroup]="secondFormGroup">
						<ng-template matStepLabel>Assign Tower</ng-template>
						<mat-card>
							<span>Batch {{batchNum}}</span>
						</mat-card>
						<mat-card>
							<span>Tower Information</span><br><br>
							<mat-form-field>
								<mat-select [(value)]="selectedDriver" placeholder="Select a Tower" formControlName="secondCtrl"  required>
									<mat-option>None</mat-option>
									<mat-option *ngFor="let driver of drivers" [value]="driver.value">
										{{ driver.viewValue }}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</mat-card>
						<mat-accordion>
							<mat-expansion-panel>
								<mat-expansion-panel-header>
									<mat-panel-title>Tow Package</mat-panel-title>
									<mat-panel-description></mat-panel-description>
								</mat-expansion-panel-header>
								<p>I'm visible because I am open</p>
							</mat-expansion-panel>
							<mat-expansion-panel>
								<mat-expansion-panel-header>
									<mat-panel-title>Printer Destination</mat-panel-title>
									<mat-panel-description></mat-panel-description>
								</mat-expansion-panel-header>
								<p>I'm visible because I am open</p>
							</mat-expansion-panel>
						</mat-accordion>

						<!-- <div style="display: flex">
						  <div style="width:300px">
					        <h4>Stocks selected <small>({{selected?.length}})</small></h4>
					        <ul><li *ngFor='let sel of selected'>{{sel.number}} </li><li *ngIf="!selected?.length">No Selections</li></ul>
					      </div>
					      <div style="width:300px">
					        <h4>All Stocks </h4>
					        <ul><li *ngFor='let sel of allStocks'>{{sel.number}} {{sel.isSelected}} {{sel.isChecked}}</li></ul>
					      </div>
						</div>  -->

						<ngx-datatable
							class="material"
							[rows]="rows2"
							[columns]="columns2"
							[headerHeight]="50"
							[footerHeight]="50"
							[rowHeight]="'auto'">

							<ngx-datatable-column *ngFor="let col of columns2" [name]="col.name">
							</ngx-datatable-column>

					        <ngx-datatable-column name="Index" width="80">
					          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
					            <strong>{{rowIndex}}</strong>
					          </ng-template>
					        </ngx-datatable-column>

							<ngx-datatable-column>
								<ng-template let-value="value" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
									<ng-container *ngIf="this.selected.length > 1">
										<button mat-button (click)="selMarkerOff(rowIndex)">Remove</button>
									</ng-container>
								</ng-template>
							</ngx-datatable-column>

						</ngx-datatable>
						<div class="button-row">
							<button mat-raised-button matStepperPrevious>Back</button>
							<button mat-raised-button color="primary" matStepperNext>Next</button>
						</div>
					</form>

				</mat-step>
				<mat-step>
					<ng-template matStepLabel>Complete</ng-template>
					<mat-card>
						<h1>Congratulations</h1>
						<p>You have succesfully dispatched a batch</p>
					</mat-card>

					<div class="button-row">
						<!-- <button mat-raised-button color="primary" (click)="refresh()">Dispatch</button> -->
						<!-- <button mat-raised-button routerLink="/dispatch">Dispatch</button> -->
						<button mat-raised-button routerLink="/manage">Manage</button>
						<!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
						<button mat-raised-button color="primary" (click)="resetStepper(stepper)">Dispatch Again</button>

					</div>
				</mat-step>

			</mat-horizontal-stepper>

		</ng-template>

	</mat-sidenav-content>
</mat-sidenav-container>
