<div class="basic-container">

	<mat-card> Branch: {{ branchName }} </mat-card>
	
	<mat-card>
		<agm-map [latitude]="branchLat" [longitude]="branchLng" [zoom]=8 [disableDefaultUI]=false [zoomControl]="true" [styles]="styles">
			<!-- 1 orig <agm-marker *ngFor="let stock of stocksUnSelected; let i = index" (markerClick)="selectStockMarker(stock, i)" [latitude]="stock.lat" [longitude]="stock.lng" [iconUrl]="stock.isChecked ? '../assets/pin-selected.png' : '../assets/pin-unselected.png'"></agm-marker> -->
			<!-- 2 modified <agm-marker *ngFor="let stock of unselected; let i = index" [latitude]="stock.lat" [longitude]="stock.lng" [iconUrl]="'../assets/pin-unselected.png'"></agm-marker><agm-marker *ngFor="let stock of selected; let i = index" [latitude]="stock.lat" [longitude]="stock.lng" [iconUrl]="'../assets/pin-selected.png'"></agm-marker> --> 
			<agm-marker *ngFor="let stock of unselected; let i = index" [latitude]="stock.lat" [longitude]="stock.lng" [iconUrl]="'../assets/pin-unselected.png'"></agm-marker>
			<agm-marker *ngFor="let stock of selected; let i = index" [latitude]="stock.lat" [longitude]="stock.lng" [iconUrl]="'../assets/pin-selected.png'"></agm-marker>

 			<agm-marker [latitude]="branchLat" [longitude]="branchLng" [iconUrl]="'../assets/branch.png'"></agm-marker>
			<agm-circle [latitude]="branchLat" [longitude]="branchLng" [radius]="50000" [fillColor]="'red'" [circleDraggable]="false" [editable]="false"></agm-circle>
		</agm-map>


		<ngx-datatable class="material" 
			[headerHeight]="50" 
			[columnMode]="'force'" 
			[rowHeight]="'auto'" 
			[footerHeight]="50" 
			[count]="true" [rows]="rows" 
			[limit]="5" [selected]="selected" 
			[selectionType]="'checkbox'" 
			(activate)="onActivate($event)" 
			(select)='onSelect($event)' >

			<ngx-datatable-column 
				[width]="60" 
				[sortable]="false" 
				[canAutoResize]="false" 
				[draggable]="false" 
				[resizeable]="false">
				
				<ng-template 
					ngx-datatable-header-template 
					let-value="value" 
					let-allRowsSelected="allRowsSelected" 
					let-selectFn="selectFn">

					<mat-checkbox 
						[checked]="allRowsSelected" 
						(change)="selectFn(!allRowsSelected)">
					</mat-checkbox>

				</ng-template> 

				<ng-template 
					ngx-datatable-cell-template 
					let-value="value" 
					let-isSelected="isSelected" 
					let-onCheckboxChangeFn="onCheckboxChangeFn"
					let-rowIndex="rowIndex" 
					let-row="row">

					<mat-checkbox 
						[checked]="isSelected" 
						(change)="onCheckboxChangeFn($event);test(rowIndex);">	
					</mat-checkbox> 
					<!-- <mat-checkbox #myCheckbox [checked]="isChecked" (change)="selectStockMarker(row, rowIndex)></mat-checkbox> -->

				</ng-template>
			</ngx-datatable-column>

			<ngx-datatable-column name="Number">
				<ng-template ngx-datatable-cell-template let-value="value"> {{value}} </ng-template>
			</ngx-datatable-column>

			<ngx-datatable-column prop="due_date">
				<ng-template let-column="column" ngx-datatable-header-template> Due Date </ng-template>
				<ng-template let-value="value" ngx-datatable-cell-template> {{value | date: 'MM/dd/yyyy'}} </ng-template>
			</ngx-datatable-column>

			<ngx-datatable-column name="City">
				<ng-template ngx-datatable-cell-template let-value="value"> {{value}} </ng-template>
			</ngx-datatable-column>

			<ngx-datatable-column name="State">
				<ng-template ngx-datatable-cell-template let-value="value"> {{value}} </ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="Status">
				<ng-template ngx-datatable-cell-template let-value="value"> {{value}} </ng-template>
			</ngx-datatable-column>

		</ngx-datatable>

	</mat-card>

	<mat-card>
		<div class='selected-column'>
			<h4>Selections <small>({{selected?.length}})</small></h4>
			<ul>
				<li *ngFor='let sel of selected'> {{sel.number}} </li>
				<li *ngIf="!selected?.length">No Selections</li>
			</ul>
			<h4>UnSelections <small>({{unselected?.length}})</small></h4>
			<ul>
				<li *ngFor='let sel of unselected'> {{sel.number}} </li>
			</ul>
		</div>
	</mat-card>

</div>
