<div class="basic-container">

	<mat-card> Branch: {{ branchName }} </mat-card>
	<mat-card> NGX Datatable <a href="https://swimlane.gitbooks.io/ngx-datatable/introduction/features.html" target="_blank">link</a> </mat-card>

	<mat-card>
		<div style="width: 100%">
	      <ngx-datatable
	        class="material"
		        [headerHeight]="50"
		        [columnMode]="'force'"
		        [rowHeight]="'auto'"
		        [footerHeight]="50"
		        [count]="true"
		        [rows]="rows"
		        [limit]="5"
		        [selected]="selected"
		        [selectionType]="'checkbox'"
		        (activate)="onActivate($event)"
		        (select)='onSelect($event)' >

     	  <ngx-datatable-column [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
              <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
              	<mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
              </ng-template>
              <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
              	<mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
              </ng-template>
          </ngx-datatable-column>

	        <ngx-datatable-column name="Number">
	          <ng-template ngx-datatable-cell-template let-value="value">
	            {{value}}
	          </ng-template>
	        </ngx-datatable-column>
	        <ngx-datatable-column name="due_Date">
	          <ng-template ngx-datatable-cell-template let-value="value">
	            {{value}}
	          </ng-template>
	        </ngx-datatable-column>
	        <ngx-datatable-column name="City">
	          <ng-template ngx-datatable-cell-template let-value="value">
	            {{value}}
	          </ng-template>
	        </ngx-datatable-column>
	        <ngx-datatable-column name="State">
	          <ng-template ngx-datatable-cell-template let-value="value">
	            {{value}}
	          </ng-template>
	        </ngx-datatable-column>
	        <ngx-datatable-column name="Status">
	          <ng-template ngx-datatable-cell-template let-value="value">
	            {{value}}
	          </ng-template>
	        </ngx-datatable-column>

	      </ngx-datatable>
	    </div>
	</mat-card>

	<mat-card>
      <div class='selected-column'>
        <h4>Selections <small>({{selected?.length}})</small></h4>
        <ul>
          <li *ngFor='let sel of selected'>
            {{sel.number}}
          </li>
          <li *ngIf="!selected?.length">No Selections</li>
        </ul>
      </div>		
	</mat-card>

</div>