<mat-horizontal-stepper [linear]="isLinear">
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>Select + Route</ng-template>

     <mat-form-field>
      <input type="text" placeholder="Pick a Branch" aria-label="Pick a Branch" matInput [formControl]="branchCtrl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" name="Branch" (optionSelected)="getBranchStocks($event.option.value)" [displayWith]="displayFn">
        <mat-option *ngFor="let branch of filteredBranches | async;" [value]="branch">
            {{ branch.name }} 
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>



    <form>
      <mat-tab-group>
        <mat-tab label="Select Stocks">

            <div style="width:100%;display:inline-block;clear: both;">
            <table style="float:left;width:30%;margin-right:1%">
              <tr><td><strong>Table Selected/UnSelected</strong></td></tr>
              <ng-container *ngFor="let stock of stocksSelected">
                <tr  *ngIf="stock.isChecked == true || stock.isChecked == false || stock.isChecked == null">
                  <td> {{ stock.number }}, is checked:{{ stock.isChecked }}</td>
                </tr>
              </ng-container>
              <tr>
                <td>
                  <!-- <mat-checkbox [checked] #myCheckBox></mat-checkbox> <button (click)="myCheckBox.checked = false">toggle Checkbox In Method</button> -->
                  <!-- <mat-checkbox [checked] #myCheckBox></mat-checkbox> <button (click)="someFunction(myCheckBox)">toggle Checkbox In Method</button> -->
                </td>
              </tr>
            </table>
            <table style="float:left;width:30%;margin-right:1%">
              <tr><td><strong>Markers Selected</strong></td></tr>
              <ng-container *ngFor="let stock of stocksUnSelected">
              <tr  *ngIf="stock.isChecked == true">
                <td> {{ stock.number }}, is checked:{{ stock.isChecked }}</td>
              </tr>
              </ng-container>
            </table>
            <table style="float:left;width:30%;margin-right:1%">
              <tr><td><strong>Markers UnSelected</strong></td></tr>
              <ng-container *ngFor="let stock of stocksUnSelected">
              <tr  *ngIf="stock.isChecked == false || stock.isChecked == null">
                <td> {{ stock.number }}, is checked:{{ stock.isChecked }}</td>
              </tr>
              </ng-container>
            </table>
          </div>

          <br><br> 

          <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="number">
              <mat-header-cell *matHeaderCellDef> Number </mat-header-cell>
              <mat-cell *matCellDef="let stock">
                <!--<mat-checkbox #myCheckbox [checked]="stock.isChecked" value="{{stock}}" (change)="selectStock(stock, $event)"></mat-checkbox>
                <a href="">{{ stock.number }}</a>-->
                <!-- <mat-checkbox #myCheckbox (change)="selectStock(stock, $event)"></mat-checkbox> <a href="">{{ stock.number }}</a> -->
                <mat-checkbox [(ngModel)]="stockNumber" [ngModelOptions]="{standalone: true}" (change)="selectStock(stock, $event)"></mat-checkbox> <a href="">{{ stock.number }}</a>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="due_date">
              <mat-header-cell *matHeaderCellDef> Due Date </mat-header-cell>
              <mat-cell *matCellDef="let stock"> {{stock.due_date}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="loss_type">
              <mat-header-cell *matHeaderCellDef> Loss Type </mat-header-cell>
              <mat-cell *matCellDef="let stock"> {{stock.loss_type}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
              <mat-cell *matCellDef="let stock"> {{stock.status}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table> 
          
        </mat-tab>
        <mat-tab label="Route Stocks">

          <p><strong>Start</strong> {{ branchAddress }}</p>
          <ol class="stocks" [dragula]='"another-bag"' [dragulaModel]='many'>
            <ng-container *ngFor="let stock of stocksUnSelected">
              <li *ngIf="stock.isChecked == true">
                <a href="">{{stock.number}}</a> {{stock.storage_end}} {{stock.total_payment_amount}} {{stock.total_hauling_amount}} {{stock.payment_type}} {{stock.checks_payable_to}} {{stock.dispatch_note}} {{stock.destination}} {{stock.tow_zone}} {{stock.mileage}} {{stock.tow_type}}
              </li>
            </ng-container>
          </ol>
          <p><strong>Finish</strong> {{ branchAddress }}</p> 


        </mat-tab>
      </mat-tab-group>
    </form>

    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]=false [zoomControl]="true" [styles]="styles">
      <!-- <agm-marker *ngFor="let stock of stocksUnSelected; let i = index" (markerClick)="selectStockMarker(stock, i);someFunction(myCheckbox)" [latitude]="stock.lat" [longitude]="stock.lng" [iconUrl]="stock.isChecked ? '../assets/pin-selected.png' : '../assets/pin-unselected.png'"></agm-marker>  -->
      <agm-marker *ngFor="let stock of stocksUnSelected; let i = index" (markerClick)="selectStockMarker(stock, i);stockNumber = !stockNumber;" [latitude]="stock.lat" [longitude]="stock.lng" [iconUrl]="stock.isChecked ? '../assets/pin-selected.png' : '../assets/pin-unselected.png'"></agm-marker> 
      <agm-marker [latitude]="branchLat" [longitude]="branchLng" [iconUrl]="'../assets/branch.png'"></agm-marker>
      <agm-circle [latitude]="branchLat" [longitude]="branchLng" [radius]="50000" [fillColor]="'red'" [circleDraggable]="false" [editable]="false"></agm-circle>
    </agm-map>

<!--     <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]=false [zoomControl]="true" [styles]="styles">
      <agm-marker *ngFor="let stock of stocks; let i = index" (markerClick)="clickedMarker(stock, i);" [latitude]="stock.lat" [longitude]="stock.lng" [iconUrl]="stock.isChecked ? '../assets/pin-selected.png' : '../assets/pin-unselected.png'"  ></agm-marker> 
      <agm-marker [latitude]="branchLat" [longitude]="branchLng" [iconUrl]="'../assets/branch.png'"></agm-marker>
      <agm-circle [latitude]="branchLat" [longitude]="branchLng" [radius]="50000" [fillColor]="'red'" [circleDraggable]="false" [editable]="false"></agm-circle>
    </agm-map>
 -->

  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Review</ng-template>
  </mat-step>
</mat-horizontal-stepper>





