<mat-sidenav-container class="example-container">
	<mat-sidenav #sidenav position="end">
		<button mat-button (click)="sidenav.close()">Toggle</button>
	</mat-sidenav>

	<mat-sidenav-content>

		<app-toolbar></app-toolbar>

		<div *ngIf="branchName == null;then content else other_content"></div>

		<!-- If no branch is selected -->
		<ng-template #content>
			<mat-card>
				<button mat-raised-button color="accent" routerLink="/settings"><span>Please go back to settings to select a Branch!</span></button>
				<!-- <app-select-branch></app-select-branch> -->
			</mat-card>
		</ng-template>
		<!-- If branch is selected -->
		<ng-template #other_content>

			<!-- <mat-card>
				<strong><mat-icon color="accent">flag</mat-icon> {{ branchName }}</strong> <a style="font-size: 12px;" routerLink="/settings">Change</a>
			</mat-card> -->

			<mat-horizontal-stepper [linear]="isLinear">
				<mat-step [stepControl]="firstFormGroup">
					<ng-template matStepLabel>Select + Route</ng-template>
					<form>

						<!-- Map -->
						<agm-map [latitude]="branchLat" [longitude]="branchLng" [zoom]=9 [disableDefaultUI]=false [zoomControl]="true" [styles]="styles">
							<agm-marker *ngFor="let stock of allStocks; let i = index" [latitude]="stock.lat" [longitude]="stock.lng" (markerClick)="selMarker(stock, i)" [iconUrl]="stock.isChecked ? '../assets/pin-selected.png' : '../assets/pin-unselected.png'"></agm-marker>
								<agm-marker [latitude]="branchLat" [longitude]="branchLng" [iconUrl]="'../assets/branch.png'"></agm-marker>
							<agm-circle [latitude]="branchLat" [longitude]="branchLng" [radius]="50000" [fillColor]="'red'" [circleDraggable]="false" [editable]="false"></agm-circle>
						</agm-map>

						<div class="map-button-container">
							<button  (click)="sidenav.open()" mat-icon-button mat-raised-button color="primary">
								<mat-icon aria-label="filter stocks">filter_list</mat-icon>
							</button>
							<button (click)="toggleMap()" mat-icon-button mat-raised-button color="primary">
								<mat-icon aria-label="select and route stocks">{{buttonName}}</mat-icon>
							</button>
						</div>

						<strong style="top: -25px;position: relative;">{{ branchName }}</strong>

						<!-- Table -->
						<div [hidden]="toggle">
							<!-- <ngx-datatable class="material" [headerHeight]="50" [columnMode]="'force'" [rowHeight]="'auto'" [footerHeight]="50" [count]="true" [rows]="rows" [limit]="5" [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'> -->
							<ngx-datatable class="material" [headerHeight]="50" [columnMode]="'force'" [rowHeight]="'auto'" [footerHeight]="50" [count]="true" [rows]="rows" [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>
									<ngx-datatable-column 
										[width]="60" 
										[sortable]="false" 
										[canAutoResize]="false" 
										[draggable]="false" 
										[resizeable]="false">

										<ng-template 
											ngx-datatable-header-template 
											let-value="value" 
											let-allRowsSelected="allRowsSelected" 
											let-selectFn="selectFn">

											<mat-checkbox 
												[checked]="allCheckboxesSelected"
												(change)="selCheckboxesAll(!allCheckboxesSelected)"></mat-checkbox>

										</ng-template>

										<ng-template 
											ngx-datatable-cell-template 
											let-value="value" 
											let-isSelected="isSelected" 
											let-onCheckboxChangeFn="onCheckboxChangeFn"
											let-rowIndex="rowIndex" 
											let-row="row">

											<mat-checkbox 
												#myCheckbox
												[checked]="isSelected" 
												(change)="
													selCheckbox(rowIndex)">
											</mat-checkbox>

										</ng-template>
									</ngx-datatable-column>
									<ngx-datatable-column name="Number">
										<ng-template ngx-datatable-cell-template let-value="value">{{value}}</ng-template>
									</ngx-datatable-column>
									<ngx-datatable-column prop="due_date">
										<ng-template let-column="column" ngx-datatable-header-template>Due Date</ng-template>
										<ng-template let-value="value" ngx-datatable-cell-template>{{value | date: 'MM/dd/yyyy'}}</ng-template>							
									</ngx-datatable-column>
									<ngx-datatable-column name="City">
										<ng-template ngx-datatable-cell-template let-value="value">{{value}}</ng-template>
									</ngx-datatable-column>
									<ngx-datatable-column name="State">
										<ng-template ngx-datatable-cell-template let-value="value">{{value}}</ng-template>
									</ngx-datatable-column>
									<ngx-datatable-column name="Status">
										<ng-template ngx-datatable-cell-template let-value="value">{{value}}</ng-template>
									</ngx-datatable-column>
							</ngx-datatable>
						</div>

						<div [hidden]="!toggle">

				            <p><strong>Start</strong> {{ branchAddress }}</p>
				            <ol class="stocks" [dragula]='"another-bag"' [dragulaModel]='many'>
				                <li *ngFor="let stock of selected">
				                  <a href="">{{stock.number}}</a> {{stock.storage_end}} {{stock.total_payment_amount}} {{stock.total_hauling_amount}} {{stock.payment_type}} {{stock.checks_payable_to}} {{stock.dispatch_note}} {{stock.destination}} {{stock.tow_zone}} {{stock.mileage}} {{stock.tow_type}}
				                </li>
				                <li *ngIf="!selected?.length">No Selections</li>
				            </ol>
				            <p><strong>Finish</strong> {{ branchAddress }}</p>

				        </div>




					</form>
				</mat-step>
				<mat-step>
					<ng-template matStepLabel>Review</ng-template>
					
						<div style="display: flex">
						  <div style="width:300px">
					        <h4>Stocks selected <small>({{selected?.length}})</small></h4>
					        <ul>
					          <li *ngFor='let sel of selected'>
					            {{sel.number}} 
					          </li>
					          <li *ngIf="!selected?.length">No Selections</li>
					        </ul>
					      </div>
					      <div style="width:300px">
					        <h4>All Stocks </h4>
					        <ul>
					          <li *ngFor='let sel of allStocks'>
					            {{sel.number}} {{sel.isSelected}} {{sel.isChecked}}
					          </li>
					        </ul>
					      </div>
					      <div style="width:300px">
					        <h4>All Stocks [filter by object property]</h4>
					        <ul>
						      <ng-container *ngFor='let sel of allStocks'>
						        <li *ngIf="sel.isChecked == true"> {{sel.number}} {{sel.isSelected}} {{sel.isChecked}} </li>
						      </ng-container>
						    </ul>
					      </div>
						</div>

				</mat-step>
			</mat-horizontal-stepper>

		</ng-template>	

	</mat-sidenav-content>
</mat-sidenav-container>