<!-- <app-header></app-header> -->
<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
<!--         <button mat-menu-item routerLink="/dispatch">
          <span>Dispatch - Default</span>
        </button>
        <button mat-menu-item routerLink="/dispatch2">
          <span>Material Design - Local Data</span>
        </button>
        <button mat-menu-item routerLink="/dispatch3">
          <span>Material Design - HTTP Client</span>
        </button>
        <button mat-menu-item routerLink="/dispatch4">
          <span>Dispatch - AngU Complete Ex</span>
        </button> -->
        <!-- <button mat-menu-item routerLink="/dispatch5">
          <span>NGX Datatable - Cloud Firestore DB</span>
        </button> -->
         <!-- <button mat-menu-item routerLink="/dispatch1">
          <span>Material Design - Cloud Firestore DB</span>
        </button> -->
        <!-- <button mat-menu-item routerLink="/fcSearch">
          <span>Firecloud Search</span>
        </button> -->
        
        <button mat-menu-item routerLink="/dispatch">
           <span>Dispatch</span>
        </button>
        <button mat-menu-item routerLink="/manage">
  	      <span>Manage</span>
  	    </button>
        <button mat-menu-item routerLink="/settings">
          <span>Settings</span>
        </button>
        <button mat-menu-item routerLink="/stocks-table">
  	      <span>POC</span>
  	    </button>
  	</mat-menu>

    <span>{{title}}</span>

  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
