<div class="container-fluid">

	<div class="row">

		<div class="col-xs-12" style="width:100%">
			<h5>{{ title }} <p class="float-right">selected stocks: <span class="badge badge-secondary">{{selectedStocks()}}</span></p></h5>

	        <select class="form-control" (change)="onSelectChange($event)">
	            <option value="">--- Select ---</option>
	            <option value="Charlotte">Charlotte</option>
	            <option value="Chicago">Chicago</option>
	            <option value="Dallas">Dallas</option>
	        </select>

		    <ol class="stocks" [dragula]='"another-bag"' [dragulaModel]='many'>
		      <li *ngFor="let data of changeFilterData; let i = index;" (click)="clickedMarker(data, i);" [ngClass]="data.selectable ? 'selected' : 'unselected'">
		      		({{i + 1}})  {{data.number}}, lat: {{data.lat}}, long: {{data.lng}}, selected: {{ data.selectable }}
		      </li>
		    </ol>

			<agm-map 
				[latitude]="lat" 
				[longitude]="lng"
				[zoom]="zoom"
				[disableDefaultUI]=false
				[zoomControl]="false"
				[styles]="styles">

					<agm-marker 
						*ngFor="let data of changeFilterData; let i = index;"
						(markerClick)="clickedMarker(data, i)"
						[latitude]="data.lat" 
						[longitude]="data.lng"
						[iconUrl]="data.selectable ? '../assets/pin-selected.png' : '../assets/pin-unselected.png'"  >
 					</agm-marker>
			</agm-map>
			
			<button id="review" type="button" class="btn btn-success" [disabled]="buttonState()">Review</button>
			
		</div>
	</div>
</div>

