<div class="basic-container">

	<mat-card> Material Design - Local Data Example </mat-card>

	<mat-card>
		<div class="example-header">
		  <mat-form-field>
		    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Table">
		  </mat-form-field>
		</div>

		<div class="example-container mat-elevation-z8">

		  <mat-table [dataSource]="dataSource" matSort>

			<ng-container matColumnDef="select">
			  <mat-header-cell *matHeaderCellDef>
			    <mat-checkbox (change)="$event ? masterToggle() : null"
			                  [checked]="selection.hasValue() && isAllSelected()"
			                  [indeterminate]="selection.hasValue() && !isAllSelected()">
			    </mat-checkbox>
			  </mat-header-cell>
			  <mat-cell *matCellDef="let row">
			    <mat-checkbox (click)="$event.stopPropagation()"
			                  (change)="$event ? selection.toggle(row) : null"
			                  [checked]="selection.isSelected(row)">
			    </mat-checkbox>
			  </mat-cell>
			</ng-container>

		    <!-- ID Column -->
		    <ng-container matColumnDef="number">
		      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
		      <mat-cell *matCellDef="let row"> {{row.number}} </mat-cell>
		    </ng-container>

		    <!-- Progress Column -->
		    <ng-container matColumnDef="due_date">
		      <mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </mat-header-cell>
		      <mat-cell *matCellDef="let row"> {{row.due_date}} </mat-cell>
		    </ng-container>

		    <!-- Name Column -->
		    <ng-container matColumnDef="loss_type">
		      <mat-header-cell *matHeaderCellDef mat-sort-header> Loss Type </mat-header-cell>
		      <mat-cell *matCellDef="let row"> {{row.loss_type}} </mat-cell>
		    </ng-container>

		    <!-- Color Column -->
		    <ng-container matColumnDef="status">
		      <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
		      <mat-cell *matCellDef="let row" > {{row.status}} </mat-cell>
		    </ng-container>

		    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
            </mat-row>
		  </mat-table>

		  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
		</div>
	</mat-card>
</div>
