/*Dispatch*/
agm-map {
    height: 375px;
    width: 100%;
}

.toggle-map {
  visibility: hidden;
  height: 0;
  float:left;
}




.cb-cover {
  width: 22px;height: 22px;background:#ff0000;position: absolute;opacity: .0;z-index: 999999;
}
.cb-cover + mat-checkbox {
  position: absolute;z-index: 0;
}
