/* You can add global styles to this file, and also import other style files */
body {
	font-family: sans-serif;
}

header {
	padding: 15px;
	border-bottom: 1px solid #cecece;
	margin-bottom: 15px;
}

.container-fluid .row{
	padding: 15px;
}