@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */
body {
	font-family: sans-serif;
}

header {
	padding: 15px;
	border-bottom: 1px solid #cecece;
	margin-bottom: 15px;
}

ol {
    padding: 0;
    max-height: 13rem;
    overflow: auto;
}

agm-map {
  height: 375px;
  width: 100%;

  position:fixed !important;
  bottom:0 !important;
  left:0 !important;
  z-index: -1 !important;
}

.container-fluid .row{
	padding: 15px;
}

.col-xs-6 {width:50%;display: inline-block;float: left;}
.col-xs-12 {width:100%;display: inline-block;float: left;}

.btn {
	margin-top:15px;
}

.form-control {
	margin: 0 0 1rem 0;
}

.mat-tab-body-content {
	padding: 2rem 2rem 2rem 0;
}

.mat-form-field {
    width: 100%;
    max-width: 20rem;
    padding: 0 2rem;
}

form {
    width: 100%;
    padding: 0 2rem;
}

.stocks li {border-bottom: 1px solid #cecece;margin: .5rem 0;}


table {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}


table td,
table th {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

table td {
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
}

app-stocks-table {
    width: 100%;
}

