@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';


body, html, .mat-sidenav-container {height: 100vh;margin: 0;}
.mat-sidenav-content {background: #E1E2E1;}

.mat-card,
.button-row {margin:15px;}
.mat-accordion .mat-expansion-panel {margin: 0 15px;}

.ngx-wrapper.mat-card {padding:0;}
.ngx-wrapper .ngx-datatable {box-shadow:none;}

body .mat-stepper-horizontal,
body .mat-horizontal-content-container {padding:0;background:transparent;}

.branch-name {box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);background: white;padding: 15px 20px;display: flex;flex-direction: row;justify-content: space-between;align-items: center;}

.mat-toolbar {position: fixed;top: 0;left: 0;width: 100%;z-index: 9999;box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);}

body .mat-stepper-horizontal {padding-top:72px;}


body .page-container {position: absolute;width: 100%;top: 0;padding-top: 64px;}
body .mat-horizontal-stepper-header-container {background: #fff;position: fixed;top: 64px;z-index: 999;width: 100%;box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);}

@media screen and (max-width: 600px){
  body .page-container {padding-top: 55px;}
  body .mat-horizontal-stepper-header-container {top: 55px;}
}

.mat-drawer.mat-sidenav {
  z-index: 99999;
}
