<app-toolbar></app-toolbar>

<div class="basic-container">
	<mat-card> CRUD Stocks works! <button (click)="resetAllStocks()">Reset all stocks</button></mat-card>
	<mat-card>
		<div class="form">
			<label>Branch ID <input type="number" [(ngModel)]="sbranchId"></label>
			<label>Check Payable <input type="text" [(ngModel)]="schecksPayableTo"></label>
			<label>City <input type="text" [(ngModel)]="scity"></label>
			<label>County <input type="text" [(ngModel)]="scounty"></label>
			<label>Damage <input type="text" [(ngModel)]="sdamage"></label>
			<label>Destination <input type="text" [(ngModel)]="sdestination"></label>
			<label>Dispatch Note <input type="text" [(ngModel)]="sdispatchNote"></label>
			<label>Draggable <input type="text" [(ngModel)]="sdraggable"></label>
			<label>Due Date <input type="date" [(ngModel)]="sdueDate"></label>
			<label>Latitude <input type="number" [(ngModel)]="slat"></label>
			<label>Longitude <input type="number" [(ngModel)]="slng"></label>
			<label>Loss Type <input type="text" [(ngModel)]="slossType"></label>
			<label>Mileage <input type="text" [(ngModel)]="smileage"></label>
			<label>Model Make <input type="text" [(ngModel)]="smodelMake"></label>
			<label>Model Name <input type="text" [(ngModel)]="smodelName"></label>
			<label>Model Year <input type="text" [(ngModel)]="smodelYear"></label>
			<label>Stock Number <input type="text" [(ngModel)]="snumber"></label>
			<label>Payment Type <input type="text" [(ngModel)]="spaymentType"></label>
			<label>Pickup Location <input type="text" [(ngModel)]="spickUpLocation"></label>
			<label>Priority <input type="text" [(ngModel)]="spriority"></label>
			<label>Provider Name <input type="text" [(ngModel)]="sproviderName"></label>
			<label>Salvage Provider <input type="text" [(ngModel)]="ssalvageProvider"></label>
			<label>State <input type="text" [(ngModel)]="sstate"></label>
			<label>Status <input type="text" [(ngModel)]="sstatus"></label>
			<label>Stock Address <input type="text" [(ngModel)]="sstockAddress"></label>
			<label>Storage End <input type="text" [(ngModel)]="sstorageEnd"></label>
			<label>Total Hauling Amount <input type="text" [(ngModel)]="stotalHaulingAmount"></label>
			<label>Total Payment Amount <input type="text" [(ngModel)]="stotalPaymentAmount"></label>
			<label>Tow Type <input type="text" [(ngModel)]="stowType"></label>
			<label>Tow Zone <input type="text" [(ngModel)]="stowZone"></label>
			<label>Towable <input type="text" [(ngModel)]="stowable"></label>
			<label>Tower <input type="text" [(ngModel)]="stower"></label>
			<label>Zip <input type="text" [(ngModel)]="szip"></label>
		</div>

		<button (click)="add()">Add</button>

		<h1>List of data</h1>
		<div class="list">
			<ng-container  *ngFor="let stock of stockobs | async">
				<div *ngIf="stock.branchId == 4">
					<p>Branch Id - <strong>{{stock.branchId}}</strong></p>
					<p>Checks Payable to - <strong>{{stock.checksPayableTo}}</strong></p>
					<p>City - <strong>{{ stock.city }}</strong></p>
					<p>County - <strong>{{ stock.county }}</strong></p>
					<p>Damage - <strong>{{ stock.damage }}</strong></p>
					<p>Destination - <strong>{{ stock.destination }}</strong></p>
					<p>Dispatch Note - <strong>{{ stock.dispatchNote }}</strong></p>
					<p>Draggable - <strong>{{ stock.draggable }}</strong></p>
					<p>Due Date - <strong>{{ stock.dueDate }}</strong></p>
					<p>Latitude - <strong>{{ stock.lat }}</strong></p>
					<p>Longitude - <strong>{{ stock.lng }}</strong></p>
					<p>Loss Type - <strong>{{ stock.lossType }}</strong></p>
					<p>Mileage - <strong>{{ stock.mileage }}</strong></p>
					<p>Model: Make - <strong>{{ stock.modelMake }}</strong></p>
					<p>Model: Name - <strong>{{ stock.modelName }}</strong></p>
					<p>Model: Year - <strong>{{ stock.modelYear }}</strong></p>
					<p>Stock # - <strong>{{ stock.number }}</strong></p>
					<p>Payment Type - <strong>{{ stock.paymentType }}</strong></p>
					<p>Pickup Location - <strong>{{ stock.pickUpLocation }}</strong></p>
					<p>Priority - <strong>{{ stock.priority }}</strong></p>
					<p>Provider Name - <strong>{{ stock.providerName }}</strong></p>
					<p>Salvage Provider - <strong>{{ stock.salvageProvider }}</strong></p>
					<p>State - <strong>{{ stock.state }}</strong></p>
					<p>Status - <strong>{{ stock.status }}</strong></p>
					<p>Stock Address - <strong>{{ stock.stockAddress }}</strong></p>
					<p>Storage End - <strong>{{ stock.storageEnd }}</strong></p>
					<p>Total Hauling Amount - <strong>{{ stock.totalHaulingAmount }}</strong></p>
					<p>Total Payment Amount - <strong>{{ stock.totalPaymentAmount }}</strong></p>
					<p>Tow Type - <strong>{{ stock.towType }}</strong></p>
					<p>Tow Zone - <strong>{{ stock.towZone }}</strong></p>
					<p>Towable - <strong>{{ stock.towable }}</strong></p>
					<p>Tower - <strong>{{ stock.tower }}</strong></p>
					<p>Zip - <strong>{{ stock.zip }}</strong></p>

					<button (click)="update(stock)">Update</button>
					<button (click)="delete(stock)">Delete</button>

				</div>

			</ng-container>
		</div>

	</mat-card>
</div>
